.guestbook_wrapper
{
	width: 800px;
	margin: auto;
	padding: auto;
}

.input-container
{
	margin:20px 0px 0px 30px;
	width:700px;
}

.jumbotron
{
	padding: 10px 20px;
}

.input-box
{
	margin-left:20px;
	width:500px;
}

.input-textarea
{
	margin-top:15px;
}

.no-resize
{
	resize:none;
}

.input-attach
{
	height: 30px;
	float: right;
}


.interval
{
	margin-bottom:20px;
}

.button-group
{
	margin: auto;
}